<ion-header>
  <ion-navbar>
    <ion-title>首页</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher [pullMax]="300" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉刷新" refreshingText="加载中...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-segment class="padding" [(ngModel)]="currentTab" color="primary" (ionChange)="onChangeTab()">
    <ion-segment-button value="all">
      全部
    </ion-segment-button>
    <ion-segment-button value="good">
      精华
    </ion-segment-button>
    <ion-segment-button value="share">
      分享
    </ion-segment-button>
    <ion-segment-button value="ask">
      问答
    </ion-segment-button>
    <ion-segment-button value="job">
      招聘
    </ion-segment-button>
    <ion-segment-button value="dev">
      测试
    </ion-segment-button>
  </ion-segment>
  <ion-list class="padding">
    <ion-item *ngFor="let topic of topics">
      <ion-avatar item-start (click)="gotoProfile(topic?.author?.loginname)">
        <img src="{{topic?.author?.avatar_url}}">
      </ion-avatar>
      <div (click)="gotoDetail(topic?.id)">
        <div class="cell">
          <h2 class="pull-left">{{topic?.author?.loginname}}</h2>
          <span class="pull-right reply_count">
            <span class="count_of_replies">{{topic?.reply_count}}</span>
            <span class="count_seperator">/</span>
            <span class="count_of_visits">{{topic?.visit_count}}</span>
          </span>
        </div>
        <div class="clear cell title">
          <span *ngIf="topic?.top" class="topTab">置顶</span>
          <span *ngIf="!topic?.top" class="topicTab">{{topic?.tab}}</span>
          <span>{{topic?.title}}</span>
        </div>
      </div>

    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingText="加载数据中...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>