<!--
  Generated template for the DetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>正文</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>{{topic?.title}}</h1>
        <p text-right class="create_at">{{topic?.author?.loginname}}发布于{{topic?.create_at | since}}前</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="content" [innerHTML]="topic?.content?(topic?.content  | link):topic?.content"></div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list padding-top>
    <ion-item *ngFor="let reply of topic.replies">
      <ion-avatar item-start (click)="gotoProfile(reply?.author?.loginname)">
        <img src="{{reply?.author?.avatar_url}}">
      </ion-avatar>
      <div>
        <div class="cell reply">
          <span text-left>{{reply?.author?.loginname}}</span>
          <span class="create_at">{{reply?.create_at | since}}</span>
          
        </div>
        <i class="fa fa-thumbs-o-up pull-right" *ngIf="!reply?.is_uped" (click)="like(reply)">{{reply?.ups?.length}}</i>
        <i class="fa fa-thumbs-up pull-right" *ngIf="reply?.is_uped" (click)="like(reply)">{{reply?.ups?.length}}</i>
        <div class="clear" [innerHTML]="reply?.content"  text-wrap></div>
      </div>
    </ion-item>
  </ion-list>

</ion-content>